<!DOCTYPE html>
<html>
<head>
  <title>ProductHuntRails2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>

  <header class="main-header">

    <div class="content-wrap main-header__inner-wrap">

      <div class="main-header__left">

        <div class="logo"></div>

        <div class="search">
          <%= form_tag root_path, method: :get do %>
            <%= search_field_tag :s, params[:s], class: "search__input", placeholder: "Discover your next favourite thing..." %>
          <% end %>
        </div>

      </div>

      <div class="main-header__right">
        <% if user_signed_in? %>
          <p>Welcome <%= current_user.email %></p>
          <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'login' %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: 'login'  %>
        <% end %>
      </div>

    </div>

  </header>

  <main class="main-content">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="content-wrap">

      <%= yield %>

    </div>

  </main>

</body>
</html>
