<!DOCTYPE html>
<html>
<head>
  <title>ProductHunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="http://use.typekit.net/koq1kyb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>

  <header class="main-header">

    <div class="top-header">

      <div class="content-wrap group">

        <%= link_to root_path, class: 'logo-wrap' do %>
          <h1 class="logo">Product Hunt</h1>
        <% end %>

        <div class="search-wrap">
          <i class="fa fa-search search-icon"></i>
          <input type="search" class="search-input" placeholder="Search for a product...">
          <i class="fa fa-close search-reset"></i>
        </div>

        <%= link_to '+', new_post_path, class: 'add-new-post' %>

        <% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'login' %>
        <% else %>
          <%= link_to 'Log in', new_user_session_path, class: 'login' %>
        <% end %>

      </div>

    </div>

    <nav class="main-nav">

      <div class="content-wrap">

        <ul class="main-nav-links group">
          <li class="active tech"><a href="#">Tech</a></li>
          <li class="games"><a href="#">Games<sup> &beta;</sup></a></li>
          <li><a href="#">Collections</a></li>
        </ul>

      </div>

    </nav>

  </header>

  <main class="main-content">
    <div class="content-wrap">

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </main>

</body>
</html>
