<%= form_for(@post) do |f| %>

  <% if @post.errors.any? %>

    <div id="error_explanation">
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>

  <div class="field">
    <%= f.label :url, "URL (with http or https)" %><br>
    <%= f.url_field :url, placeholder: 'e.g. http://google.com' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
